<app-navbar class="nav"></app-navbar>
<main class="container">
  <div class="imageContainer">
    <img src="../../../../assets/images/on-the-go-(1)-askaladdin.webp" alt="">
  </div>
  <div class="information">
    <h1>Egypt Splendor Escorted Tour Package</h1>
    <p>Egypt Splendor allows you to experience Egypt's beauty on 8 wonderful days. 03 nights in Cairo + 04 nights Nile
      Cruise. Egypt Splendor Tour Package Including transportation, sightseeing, domestic flights, and private
      Egyptologist tour guide as per the program's itinerary.</p>
    <p class="rating">Rating : <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
          viewBox="0 0 16 16">
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
          viewBox="0 0 16 16">
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
          viewBox="0 0 16 16">
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
          viewBox="0 0 16 16">
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
          viewBox="0 0 16 16">
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg>
      </span></p>
  </div>
</main>
<div class="tourPackage">
  <nav>
    <a href="#itinnerary" class="item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
      </svg>
      <p>Package Itinerary</p>
    </a>
    <a class="item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-currency-dollar" viewBox="0 0 16 16">
        <path
          d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
      </svg>
      <p>Prices</p>
    </a>
    <a class="item"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
      <p>What's Included</p>
    </a>
    <a class="item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-lightbulb" viewBox="0 0 16 16">
        <path
          d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
      </svg>
      <p>Highlights</p>
    </a>
    <a class="item"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-building" viewBox="0 0 16 16">
        <path
          d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
        <path
          d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z" />
      </svg>
      <p>Hotels We Use</p>
    </a>
    <a class="item"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-dropbox" viewBox="0 0 16 16">
        <path
          d="M8.01 4.555 4.005 7.11 8.01 9.665 4.005 12.22 0 9.651l4.005-2.555L0 4.555 4.005 2 8.01 4.555Zm-4.026 8.487 4.006-2.555 4.005 2.555-4.005 2.555-4.006-2.555Zm4.026-3.39 4.005-2.556L8.01 4.555 11.995 2 16 4.555 11.995 7.11 16 9.665l-4.005 2.555L8.01 9.651Z" />
      </svg>
      <p>Optional Tours</p>
    </a>
    <a class="item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-globe-americas" viewBox="0 0 16 16">
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
      </svg>
      <p>Travel Experiences</p>
    </a>
    <a class="item"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-star-half" viewBox="0 0 16 16">
        <path
          d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
      </svg>
      <p>Tour Reviews</p>
    </a>

  </nav>
  <p class="description">
    <span> Egypt Splendor Tour</span> Package Including transportation, sightseeing, domestic flights, and private
    Egyptologist tour guide as per the program's itinerary. Starting from $1300 USD per person in a double room.
  </p>
  <p class="description">
    <span>Egypt Splendor</span> allows you to experience Egypt's beauty on 8 wonderful days. 03 nights in Cairo + 04
    nights Nile Cruise. Egypt Splendor Tour Package Including transportation, sightseeing, domestic flights, and private
    Egyptologist tour guide as per the program's itinerary.
  </p>
  <div class="tourType">
    <h1>Tour Type:</h1>
    <p class="type"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>Adventure or Sporting Tours </p>
    <p class="type"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg> Family Friendly</p>
  </div>
  <!-- itinerary section  -->
  <div class="itinerary" id="itinerary">
    <h1> <span>Package</span> Itinerary</h1>
    <div class="day">
      <div class="number">
        <p>1</p>
      </div>
      <div class="dayDetails">
        <h1>Day 1 - Cairo: Arrival to Cairo Aiport</h1>
        <p>Welcome to Cairo airport! The first day of your tour begins when you are greeted by our representative who
          will meet you and assist you through immigration and customs formalities upon your arrival. After you have
          collected your luggage, he will then take you in our deluxe vehicle to your 5-star hotel in Cairo. Hotel
          check-in and overnight.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
    <div class="day">
      <div class="number">
        <p>2</p>
      </div>
      <div class="dayDetails">
        <h1>Day 2 - Cairo: Giza Pyramids, Sphinx, Egyptian Museum</h1>
        <p>Breakfast at the hotel is followed by a full-day tour. In the morning you will be driven to see the Pyramids
          of Giza and the Great Sphinx: the most famous monuments of not only ancient Egypt but of the entire ancient
          world!
          In the afternoon you will be taken to the Egyptian Museum: gaze at the wonders of King Tutankhamun, including
          his golden death mask; lose yourself in the many rooms and galleries, where thousands of artifacts are
          awaiting your visit. At the end of this exciting day, you will be driven back to your hotel.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
    <div class="day">
      <div class="number">
        <p>3</p>
      </div>
      <div class="dayDetails">
        <h1>Day 3 - Flight to Luxor, Nile Cruise: Luxor (Karnak & Luxor Temples)</h1>
        <p>After breakfast, you will check-out from the hotel and our representative will escort you to the airport for
          your flight to Luxor. Upon arrival, you will be met and assisted by our representative who will transfer you
          to your cruise boat: your floating hotel for your next 4 nights.

          After lunch, which you will have onboard, you will visit the magnificent Karnak and Luxor Temples. Once your
          visit to these ancient Theban Temples is complete, you will return to the boat for your dinner.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
    <div class="day">
      <div class="number">
        <p>4</p>
      </div>
      <div class="dayDetails">
        <h1>Day 4 - Nile Cruise: Luxor (Westbank: Kings Valley, and Hatshepsut Temple</h1>
        <p>After your first breakfast on board, it is time to visit the West Bank of Luxor: the tombs of the New Kingdom
          Pharaohs in the Valley of the Kings; the tombs of princes in the Valley of the Queens; the magnificent temple
          of Queen Hatshepsut at Deir El-Bahri finishing with the immense Colossi of Memnon.

          After this visit to the Theban "City of the Dead", you will be taken back to your boat for your lunch, and
          then you can watch as it departs Luxor and sails for Esna. As the Nile flows gently underneath you, dinner
          will be served.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
    <div class="day">
      <div class="number">
        <p>5</p>
      </div>
      <div class="dayDetails">
        <h1>Day 5 - Nile Cruise: Edfu Temple</h1>
        <p>You can enjoy your breakfast watching as the cruise boat crosses the Esna lock and then sails onward to Edfu,
          home of the best-preserved temple in Egypt: the temple of Edfu or Temple of Horus. Your guide will then return
          you to your cruise boat for dinner as the boat sails majestically toward Kom Ombo.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
    <div class="day">
      <div class="number">
        <p>6</p>
      </div>
      <div class="dayDetails">
        <h1>Day 6 - Nile Cruise: Kom Ombo Temple, Aswan (High Dam, Philae Temple)</h1>
        <p>Your last day of sailing starts with breakfast, and then a visit to the Temple of Kom Ombo dedicated to the
          gods Horus and Sobek. Afterward, it is back to the boat for lunch and then sails to Aswan.

          Once the boat arrives in Aswan, you will be driven to see the High Dam, the world's largest rock-filled dam,
          and the Temple of Philae, which was moved to the new island of Agilika after the waters of Lake Nasser flooded
          its original location on Philae.

          Today will be your last dinner on board.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
    <div class="day">
      <div class="number">
        <p>7</p>
      </div>
      <div class="dayDetails">
        <h1>Day 7 - Nile Cruise: Aswan (Botanical Garden), Flight to Cairo</h1>
        <p>You will have your final breakfast on the boat before you have to check out.

          You will then be taken to Aswan Botanical Gardens by felucca. After this, you will be transferred to Aswan
          airport for your flight back to Cairo (the flight duration is about 1 hour only).

          Once there; our representative will meet you and assist you with your luggage before transferring you to your
          hotel in Cairo for check-in.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
    <div class="day">
      <div class="number">
        <p>8</p>
      </div>
      <div class="dayDetails">
        <h1>Day 8 - Cairo: Final Departure</h1>
        <p>Today is your final day which starts with breakfast at the hotel followed by check-out. Our team will be
          picking you up from your hotel and transfer you to Cairo airport for your final departure back home.</p>
        <div class="meals">
          <div class="meal"><img src="../../.../../../../assets/images/meal.png" alt="">Meals</div>
          <div class="meal"><img src="../../.../../../../assets/images/right.png" alt="">Breakfast</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Lunch</div>
          <div class="meal"><img src="../../.../../../../assets/images/Wrong.png" alt="">Dinner</div>
        </div>
      </div>
    </div>
  </div>
  <!-- price section  -->
  <div class="price">
    <h1>Prices</h1>
    <!-- the number of persons  -->
    <div class="persons">
      <div class="person">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
          viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg> 2-3 Persons
      </div>
      <div class="person">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
          viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg> 4-7 Persons
      </div>
      <div class="person">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
          viewBox="0 0 16 16">
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg> 7-10 Persons
      </div>
    </div>
    <!-- hotel  -->
    <div class="header">
      <p>Per Person In</p>
      <p>standrad Hotels</p>
      <p>Comfort Hotels</p>
      <p>Deluxe Hotels</p>
    </div>
    <div class="room">
      <h1>Double Room</h1>
      <p>$ <span>2200</span> USD</p>
      <p>$ <span>2400</span> USD</p>
      <p>$ <span>2800</span> USD</p>
    </div>
    <div class="room">
      <h1>Single Room Supplement </h1>
      <p>$ <span>2200</span> USD</p>
      <p>$ <span>2400</span> USD</p>
      <p>$ <span>2800</span> USD</p>
    </div>

  </div>
  <!-- what includes section   -->
  <div class="includes">
    <div>
      <h1><span>What's</span> Included</h1>
      <p><img src="../../../../assets/images/right.png" alt="">03 nights accommodation in Cairo at a 5-star hotel on bed
        and breakfast basis.</p>
      <p><img src="../../../../assets/images/right.png" alt="">04 nights accommodation on board a 5 star Nile Cruise on
        full board basis (all meals included).</p>
      <p><img src="../../../../assets/images/right.png" alt="">Private and personalized sightseeing excursions as per
        the above-mentioned program</p>
      <p><img src="../../../../assets/images/right.png" alt="">Private and personalized sightseeing shore excursions for
        4 nights on the cruise.</p>
      <p><img src="../../../../assets/images/right.png" alt="">Private English speaking Egyptologist guides as per the
        itinerary.</p>
      <p><img src="../../../../assets/images/right.png" alt="">Entrance fees for all sightseeing.</p>
      <p><img src="../../../../assets/images/right.png" alt="">All transfers as per the above-mentioned program</p>
      <p><img src="../../../../assets/images/right.png" alt="">Meals: 7 breakfasts + 4 lunches + 4 dinners.</p>
      <p><img src="../../../../assets/images/right.png" alt="">Private and deluxe air-conditioned vehicle for all
        transportation.</p>
      <p><img src="../../../../assets/images/right.png" alt="">Arrival & departure assistance at the airport.</p>
      <p><img src="../../../../assets/images/right.png" alt="">Domestic flights: Cairo to Luxor and Aswan to Cairo.</p>
      <p><img src="../../../../assets/images/right.png" alt="">Luggage handling at airports and hotels.</p>
      <p><img src="../../../../assets/images/right.png" alt="">All applicable taxes.</p>
    </div>
    <div>
      <h1><span>What's</span> Not Included</h1>
      <p><img src="../../../../assets/images/Wrong.png" alt="">Tipping for guides, driver, Nile cruise crew, etc…</p>
      <p><img src="../../../../assets/images/Wrong.png" alt="">Personal expenses (laundry, telephone calls, etc...)</p>
      <p><img src="../../../../assets/images/Wrong.png" alt="">Egypt Tourist Visa</p>

    </div>
  </div>
  <!-- highlights section  -->
  <div class="highlights">
    <h1><span>Trip</span> Highlights</h1>
    <div>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Great Pyramids of Giza</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Great Sphinx of Giza</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Egyptian Museum of Antiquities</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Temples of Karnak & Luxor</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Temple of Queen Hatshepsut at Deir El-Bahary</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Valley of the Kings</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Valley of the Queens</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Memnon Colossi</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Edfu Temple of Horus</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Kom Ombo Temple of Horus and Sobek</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Philae Temple of Isis in Aswan</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>High Dam in Aswan</p>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>Botanical Garden on Lord Kitchener Island in Aswan</p>
    </div>
  </div>
  <!-- hotels section  -->
  <div class="hotels">
    <div>
      <h1> <span>Package Standard</span> Hotels</h1>
      <div class="imagesContainer">
        <div class="imagebox">
          <img src="../../../../assets/images/le-meridien-pyramids1-askaladdin.webp" alt="">
          <div>Le Meridien Pyramids Resort</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/iberotel-aswan-askaladdin.webp" alt="">
          <div>Iberotel Aswan hotel</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/fanara4-askaladdin.webp" alt="">
          <div>Iberotel Club Fanara</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/sea-view-askaladdin.webp" alt="">
          <div>Iberotel Lido Hotel</div>
        </div>
      </div>
    </div>
    <div>
      <h1> <span>Package Comfort</span> Hotels</h1>
      <div class="imagesContainer">
        <div class="imagebox">
          <img src="../../../../assets/images/movenpick-pyramids-resort1-askaladdin.webp" alt="">
          <div>Movenpick Pyramids Resort</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/intercontinental-city-star-askaladdin.webp" alt="">
          <div>Intercontinental City Star</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/sonesta-tower-casino1-askaladdin.webp" alt="">
          <div>Sonesta Tower Casino1</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/hilton-green1-askaladdin.webp" alt="">
          <div>Hilton Green</div>
        </div>
      </div>
    </div>
    <div>
      <h1> <span>Package Deluxe </span> Hotels</h1>
      <div class="imagesContainer">
        <div class="imagebox">
          <img src="../../../../assets/images/jaz-royale1-askaladdin.webp" alt="">
          <div>Sheraton Hotel Montazah</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/four-seasons-view-askaladdin.webp" alt="">
          <div>Four Seasons View</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/cecil1-askaladdin.webp" alt="">
          <div>Cecil Sofitel Hotel</div>
        </div>
        <div class="imagebox">
          <img src="../../../../assets/images/sofitel-legend-old-cataract1-askaladdin.webp" alt="">
          <div>Sofitel Legend Old</div>
        </div>
      </div>
    </div>
  </div>
  <!-- optional tour section  -->
  <div class="optional">
    <h1> <span>Optional</span> Tours</h1>
    <h2>Abu Simbel Trip By Flight</h2>
    <div>
      <div>
        <h1>Trip includes:</h1>
        <div>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg> Transportation by private A/C vehicle</p>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>Entrance fees</p>
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>Tour Guidance (Private tour guide)</p>
        </div>
      </div>
      <img src="../../../../assets/images/temples-temple-archaeological-site-Ramses-II-Abu.webp" alt="">
    </div>
  </div>
  <!-- experience section  -->
  <div class="experience">
    <h1> <span>Package</span> Travel Experiences</h1>
    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg> If you want to capture the beautiful memories with your family members & friends then enjoy your vacation
      by sightseeing scenario of Egypt trips.</p>

    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>All of our packages are private, which means that only those who accompany you will be in your party.</p>
    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>You don't need to worry about picking up maps, figuring out directions or determining which attraction to
      visit first.</p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>Our private Egypt tours are designed that we understand that children (and adults!) need a mix of included activities and downtime for rest and relaxation while they're on vacation. </p>
  </div>
  <!-- review section  -->
  <div class="review">
    <h1>Our customer love our trips</h1>
    <div>
      <div class="rev">
        <p class="rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </p>
        <h1>Egypt...a life time dream come true</h1>
        <p>From the time we stepped off the plane in Cairo until we departed we are treated like royalty.</p>
        <p class="posted">Posted by <span>Hanna Abel</span></p>
      </div>
      <div class="rev">
        <p class="rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </p>
        <h1>Amazing Egypt Trip</h1>
        <p>Our trip to Egypt was without incident, from being picked up at the airport our tourers the voucher inclusion then the return trip to the airport was pain free .</p>
        <p class="posted">Posted by <span>Naomi Mcauliffe</span></p>
      </div>
      <div class="rev">
        <p class="rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </p>
        <h1>Excellent company</h1>
        <p>Good service. Staff return calls. Will use the company again.</p>
        <p class="posted">Posted by <span>John Kerr</span></p>
      </div>
      <div class="rev">
        <p class="rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </p>
        <h1>Even better than the first time </h1>
        <p>Happy with service provided. <br>
          In future I would like to receive flash sale email.</p>
        <p class="posted">Posted by <span>Shreen Rai</span></p>
      </div>
      <div class="rev">
        <p class="rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </p>
        <h1>Kind and helpful</h1>
        <p>Friendly, helpful & efficient service & we had another great trip booking through travel online. a great package with so many inclusions & such a bargain. looking for our next holiday to book with you☺</p>
        <p class="posted">Posted by <span>Sonya Walters</span></p>
      </div>
      <div class="rev">
        <p class="rating">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
            viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
        </p>
        <h1>Another fantastic holiday </h1>
        <p>Yes would definitely recommend these packages.</p>
        <p class="posted">Posted by <span> Rosetta Nikolic</span></p>
      </div>
    </div>
    </div>

</div>
