<main class="d-flex flex-column align-items-center p-5 ">
  <header class="mb-3 d-flex flex-row w-100 px-5 justify-content-between align-items-center">
    <div class="logo"> Eg<span>yp</span>t</div>
    <button class="login" (click)="login()">Login In</button>
  </header>
  <div class="content d-flex flex-column align-items-center justify-content-center">
    <h1>Explore <span>Egypt</span> With Us</h1>
    <div>
      <button class="learn">Learn More</button>
      <button class="signUp" (click)="signUp()">SingUp Here</button>
    </div>
  </div>
</main>
