<div class="container1">
  <app-navbar></app-navbar>
  <div class="content">
    <h1>Get ready for your lifetime journey!</h1>
    <button routerLink="/packages">Start planning</button>
  </div>
</div>

<div class="whereToGo">
  <div class="header">
    <h1>WHERE TO GO</h1>
    <p>Everyday is a journey and your journey starts here.</p>
  </div>
  <div class="places" >
    <div class="city" *ngFor="let governator of governators | slice:7:11" style="background-image: url({{governator.imageUrl}});">
      <div class="title">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass"
            viewBox="0 0 16 16">
            <path
              d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg> Where To Go</p>
        <div class="line"></div>
        <h1>{{governator.governor}} </h1>
      </div>
    </div>
  </div>
  <button class="explore" routerLink="/whereToGo">Explore More </button>
</div>

<div class="whatToDo">
  <div class="header">
    <h1>WHAT TO DO</h1>
    <p>Your own bucket list.</p>
  </div>
  <div class="thingsToDo">
    <div class="thing" style="background-image: url(../../../assets/images/seaandsun.jpg);">
      <div class="title">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass"
            viewBox="0 0 16 16">
            <path
              d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg> What To Do</p>
        <div class="line"></div>
        <h1>SUN&SEA</h1>
      </div>
    </div>
    <div class="thing" style="background-image: url(../../../assets/images/spiritual.jpg);">
      <div class="title">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass"
            viewBox="0 0 16 16">
            <path
              d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg> What To Do</p>
        <div class="line"></div>
        <h1>SPIRTUAL</h1>
      </div>
    </div>
    <div class="thing" style="background-image: url(../../../assets/images/nature.jpg);">
      <div class="title">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass"
            viewBox="0 0 16 16">
            <path
              d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg> What To Do</p>
        <div class="line"></div>
        <h1> NATURE </h1>
      </div>
    </div>
    <div class="thing" style="background-image: url(../../../assets/images/museum.jpg);">
      <div class="title">
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass"
            viewBox="0 0 16 16">
            <path
              d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg> What To Do</p>
        <div class="line"></div>
        <h1>MUSEUM</h1>
      </div>
    </div>
  </div>
  <button class="explore" routerLink="/whatToDo">Explore More</button>
</div>

<div class="readyToTravel">
  <h1>Ready To Travel With Us On Your Next Trip?</h1>
  <button class="explore" routerLink="/packages">See Tour Packages</button>
</div>
<app-footer></app-footer>
