<app-navbar class="nav"></app-navbar>
<div class="container">
  <div class="title">
    <h1>Egypt's Governorates</h1>
  </div>
  <div class="governorates">
    <div class="governorate" *ngFor="let governator of goverantors">
      <img src={{governator.imageUrl}}>
      <div class="information">
        <h3>{{governator.name}}</h3>
        <p>{{governator.description}}</p>
      </div>
      <button [routerLink]="'/governator/' + governator._id" [queryParams]="{'tour': governator.name}">Read More</button>
    </div>
  </div>
</div>
